<%= form_for(@click) do |f| %>
  <% if @click.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@click.errors.count, "error") %> prohibited this click from being saved:</h2>

      <ul>
      <% @click.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :click_type %><br />
    <%= f.text_field :click_type %>
  </div>
  <div class="field">
    <%= f.label :click_time %><br />
    <%= f.number_field :click_time %>
  </div>
  <div class="actions">
    <%= f.submit, "Huh?" %>
  </div>
<% end %>
